<nav class="navbar navbar-expand-lg bg-light">
  <section class="container me-2">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle nav-item-user"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="las la-user user-icon"></i>
              {{ fullName$ | async }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>
</nav>
